html,body{
height:100%;
}
#ad{
  background-color: #ff1a75;
  height: 10%!important;
}
#ad2{
  background: Lavender;
  height:90%!important;
}
.custom {

    width: 50% !important;
}

.txt{
  opacity: 0.8;
}

#img{
  opacity:0.6;
  width:100px;
  height:100px;
}
#img:hover{
  opacity:1;
}
